.dataCard {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px; /* Set a maximum width */
    height: 400px; /* Set a fixed height */
    overflow: auto;
  }
  
  .revenueCard {
    margin-bottom: 20px;
  }
  
  .sourceCard {
    margin-bottom: 20px;
  }
  
  .chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto; /* Allow vertical scrolling */
    max-height: 100vh; /* Limit the height to the viewport height */
  }